{% extends "blog/base.html" %}

{% block title %}Compartir un post{% endblock %}

{% block content %}
    {% if sent %}
        <div class="post-detail">
            <h1>Email enviado con éxito</h1>
            <p>
                "{{ post.title }}" fue enviado correctamente a {{ form.cleaned_data.to }}.
            </p>
            <p><a href="{{ post.get_absolute_url }}">Volver al post</a></p>
        </div>
    {% else %}
        <div class="post-detail">
            <h1>Compartir "{{ post.title }}" por e-mail</h1>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" value="Enviar e-mail">
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}{% endblock %}