{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %} - Hendry's Mind</title>
  <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
  <header>
    <div class="header-container">
      <div class="logo">
        <a href="{% url "blog:post_list" %}">Hendry's Mind</a>
      </div>
      <form class="search-form" method="get" action="{% url 'blog:post_search' %}">
        <input type="search" name="query" placeholder="Buscar en el blog...">
        <button type="submit">Buscar</button>
      </form>
    </div>
  </header>
  <div id="content">
    <main id="main">
      {% block content %}
      {% endblock %}
    </main>
    
    <aside id="sidebar">
      {% block sidebar %}
        {% include 'blog/post/includes/sidebar_content.html' %}
      {% endblock %}
    </aside>
  </div>
  <footer>
    <p>Diseñado con 🔥 por Hendry Duarte.</p>
  </footer>
  <script src="{% static "javascript/script.js" %}"></script>
</body>
</html>

